body{
    font-family: 'Kanit', sans-serif; 
    margin: 0px;  
}
h1{
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    font-weight: 700;
}
p{
    color: dimgray;
}
.links{
    text-decoration: none;
    background-image: linear-gradient(45deg,blue, cyan);
    font-weight: 700;
    padding: 10px 20px;
    color: white;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(180deg, tomato, orange);
    margin: 50px 50px 0px 0px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
}
.highlight{
    color: blue;
}

.half-width img{
    width: 100%;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    
}
.top{
    height: 600px;
    padding: 10px 0px;
    
}
.mid{
    height: 600px;
    padding: 10px 0px;
}
.project{
    
    text-align: center;
    padding-top: 40px;
    
}
.width-thirty img{
    width: 100%;
}

.width-thirty{
    width: 25%;
    float: left;
    margin: 5% 0% 15% 7%;
    height: 0px 0px 450px 0px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px dimgray;
    
    
}
.width-thirty h3 {
    padding-left: 8px;
}
.width-thirty p{
    padding-left: 10px;
}
.chat img{
    width: 40%;
} 
.projects{
    height: 600px;
    background-color: whitesmoke;
    box-shadow: 10px dimgray;
}  
footer{
    
    text-align: center;

} 
footer p{
    font-size: 12px;
}


span{
    color: blue;
}
header{
   height: 100px;
    text-align: right;
    font-size: 15px;
    margin: 15px 15px 0px 0px;
}
header a{
    margin-right: 10px;
}



.connect{
    width: 100%;
    height: 300px;
    background-image: url(images/Group_33094_1.png);
    background-position: center ;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.half-width h4{
    font-size: 35px;
    margin: 12px 0px 0px 270px;
    
}
.half-width a{
    margin: 120% 0% 0% 10%;
    font-weight: 700;font-size: 25px;
    width: 100px;
    border-radius: 7px;
    height: 500px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(180deg, lightsalmon, orange);
       
}
h4{
    color: white;
}
h2{
    color: blueviolet;
}